@using System.Globalization
@using LunchTime.Client

@inject IMenuClient MenuClient;

<div class="menu-container">
    <h1>This week's menu</h1>
    <div class="menu-list">
        @foreach (var menuItem in MenuItems.Where(item => item != MenuEntry.Empty))
        {
            <LunchMenuItem MenuEntry="@menuItem"/>
        }
    </div>
</div>

@code
{
    private MenuEntry[] MenuItems { get; set; } = Array.Empty<MenuEntry>();
    
    [Parameter] 
    public string? Locale { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        MenuItems = await MenuClient.GetMenu(CultureInfo.CurrentCulture.Name, CancellationToken.None);
        StateHasChanged();
    }
}
